<!doctype html>
<html ng-app="mmserver_app">
<head>

    <link rel="stylesheet" href="static/purejs/lib/bootstrap-4.0.0-alpha.6-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/purejs/purejs.css">

	<script src="static/purejs/lib/angular/angular.min.js"></script>
	<script src='static/purejs/lib/d3/d3.min.js'></script>
	<!-- <script src='lib/lodash.js'></script> -->
	<script src="static/purejs/lib/plotly/plotly-latest.min.js"></script>

	<!-- <script src='static/purejs/lib/jquery/jquery-3.2.1.min.js'></script> -->
	<!-- <script src="static/purejs/lib/bootstrap-4.0.0-alpha.6-dist/js/bootstrap.min.js"></script> -->

	<!-- leaflet -->
    <link rel="stylesheet" href="static/purejs/lib/leaflet/leaflet.css">
    <script src="static/purejs/lib/leaflet/leaflet.js"></script>
	<!-- leaflet easy button -->
    <link rel="stylesheet" href="static/purejs/lib/leaflet/easy-button.css">
    <script src="static/purejs/lib/leaflet/easy-button.js"></script>
	<!-- leftlet full screen -->
 	<link rel="stylesheet" href="static/purejs/lib/leaflet/fullscreen/Control.FullScreen.css" />
 	<script src="static/purejs/lib/leaflet/fullscreen/Control.FullScreen.js"></script>
 
	<script src='static/purejs/mysrc/mypurejs.js'></script>

</head>
<body>
{% raw %}
<div ng-controller="mmserver_controller">
	<div class="container">
		<div class="jumbotron" style="margin-top: 1em; padding-top: 1em; margin-bottom: 1em; padding-bottom: 1em">
			<h1 class="display-6" style="text-align: center;">Explore Map Manager Annotations</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-4">
			<div class="card">
				<div class="card-block" style="padding: 1em">

					<!-- user -->
					<div class="row">
					<div class="col">
					Username: public
					</div>
					</div>

					<!-- list of maps -->
					<div class="row">
										
					<div class="col">
						Select a map<table>
						<tbody class="tbody myScrollBar2">
							<tr ng-repeat="map in maps" ng-class="{'mySelected':map == selectedMap}" ng-click="setSelecetedMap(map)">
							<td>{{map}}</td>
							</tr>
						</tbody>
						</table>
					</div>
					
					<div class="col">
						<p>
						<button id="loadMapButtonID" type="button" class="btn btn-primary btn-sm">Load a map</button>
						</p>
						Loaded map: {{loadedMap}}
					</div>

					</div>
					
					<!--
					<div class="row">
					<p>
					<button id="plotButtonID" type="button" class="btn btn-primary btn-sm btn-block">Plot</button>
					</p>
					</div>
					-->
					
					<!-- list of stats -->
						<BR>
					<div class="row">
						<div class="col">
						Select an x and y stat
						</div>
					</div>
					<div class="row">
						<div class="col">
							<table>
								<thead>
								<tr>
								<th>X</th>
								</tr>
								</thead>
							<tbody class="tbody myScrollBar">
								<tr ng-repeat="stat in statList">
									<td>{{$index}}</td>
									<td ng-class="{'mySelected':stat == xStatSelection}" ng-click="setSelectedStat('x', stat)">{{stat}}</td>
								</tr>
							</tbody>
							</table>
						</div>
						<div class="col">
							<table>
								<thead>
								<tr>
								<th>Y</th>
								</tr>
								</thead>
							<tbody class="tbody myScrollBar">
								<tr ng-repeat="stat in statList">
									<td>{{$index}}</td>
									<td ng-class="{'mySelected':stat == yStatSelection}" ng-click="setSelectedStat('y', stat)">{{stat}}</td>
								</tr>
							</tbody>
							</table>
						</div>
					</div>

					<!-- list of sessions -->
					<div class="row">
					<div class="col">
						Select a session
							<table>
							<tbody class="tbody myScrollBar">
								<tr ng-repeat="session in sessions" ng-class="{'mySelected':$index == selectedSession}" ng-click="setSelectedSession($index)">
									<td>{{$index}} </td>
									<td>{{session}} </td>
								</tr>
							</tbody>
							</table>
					</div>
					<div class="col">
						Select a map segment
							<table>
							<tbody class="tbody myScrollBar">
								<tr ng-repeat="segment in mapsegments" ng-class="{'mySelected':$index == selectedMapSegment}" ng-click="setSelectedMapSegment($index)">
									<td>{{segment}} </td>
								</tr>
							</tbody>
							</table>
					</div>
					</div>
					
				</div>
			</div>
		</div>

		<div class="col-7">
			<div class="card">
				<div class="card-block" style="padding: 1em">
					<div class="row">
					<div id="scatterPlot" style="width: 595px; height: 595px"></div>
					</div>

					<div class="row">
						<div class="col">
						<label>Marker size <input type="range" min="1" max="20" value="5" class="slider" id="dotSize"></label>
						</div>
					</div>

					<div class="row">
					<div class="col">
					<div ng-if="userClickSessionIndex">
					Clicked on time-point: {{userClickSessionIndex}}, stack index {{userClickStackIndex}}, map segment {{userClickMapSegment}}
					</div>
					<div ng-if="!userClickSessionIndex">
					&nbsp;
					</div>
					</div>
					</div>
				</div>
			</div>
		</div>

	</div> <!-- row -->

	<BR>
	<div class="row">
	<div class="col-6">
	<div class="card">
	<div class="card-block" style="padding: 1em">
		<button id="showStackButtonID" type="button" class="btn btn-primary btn-sm">Load Stack Data</button>
		<button id="plusSliceButtonID" type="button" class="btn btn-primary btn-sm" ng-click="setslicebutton(1)"><span class="star">&darr;</span></button>
		<button id="minusSliceButtonID" type="button" class="btn btn-primary btn-sm" ng-click="setslicebutton(-1)"><span class="star">&uarr;</span></button>
		map rr30a must be loaded !
		<div id="myLeafletID" style="width: 512px; height: 512px;"></div>
	</div>
	</div>
	</div>
	</div>
	
</div> <!-- ng-controller="mmserver_controller" -->
{% endraw %}
</body>
</html>