<!doctype html>
<html ng-app="mmserver_app">
<head>

    <!-- added tether for bootstrap -->
    <!-- <link rel="stylesheet" href="static/lib/tether-1.3.3/dist/css/tether.css"> -->

    <link rel="stylesheet" href="static/lib/bootstrap-4.0.0-beta.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/lib/font-awesome-4.7.0/css/font-awesome.min.css">
   
    <link rel="stylesheet" href="static/mmserver.css">

	<script src="static/lib/angular/angular.min.js"></script>

	<!--
	<script src="static/lib/angular/angular-animate.min.js"></script>
	<script src="static/lib/angular/ui-bootstrap-tpls-0.14.3.js"></script>
	-->

	<script src='static/lib/d3/d3.min.js'></script>
	<!-- <script src='lib/lodash.js'></script> -->
	<script src="static/lib/plotly/plotly-latest.min.js"></script>

    <!-- added (jquery, tether) for bootstrap -->
	<script src='static/lib/jquery/jquery-3.2.1.min.js'></script>
	<!-- <script src="static/lib/tether-1.3.3/dist/js/tether.min.js"></script> -->
	<script src="static/lib/popper-1.12.3/popper.js"></script>
	<script src="static/lib/bootstrap-4.0.0-beta.2-dist/js/bootstrap.min.js"></script>

	<!-- leaflet -->
    <link rel="stylesheet" href="static/lib/leaflet/leaflet.css">
    <script src="static/lib/leaflet/leaflet.js"></script>
	<!-- leaflet easy button -->
    <link rel="stylesheet" href="static/lib/leaflet/easy-button.css">
    <script src="static/lib/leaflet/easy-button.js"></script>
	<!-- leftlet full screen -->
 	<link rel="stylesheet" href="static/lib/leaflet/fullscreen/Control.FullScreen.css" />
 	<script src="static/lib/leaflet/fullscreen/Control.FullScreen.js"></script>
 
	<script src='static/mmserver.js'></script>

	<!-- <script type="text/javascript" src="static/lib/angularjs-dropdown-multiselect.min.js"></script> -->

</head>
<body>
{% raw %}
<div ng-controller="mmserver_controller">
	<div class="container">
		<div class="jumbotron" style="margin-top: 1em; padding-top: 1em; margin-bottom: 1em; padding-bottom: 1em">
			<h1 class="display-6" style="text-align: center;">Explore Map Manager Annotations</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-4">
			<div class="card">
				<div class="card-block" style="padding: 1em">

					<!-- user -->
					<div class="row">
					<div class="col">
					Username: public
					</div>
					</div>

					<!-- list of maps -->
					<div class="row">
										
					<div class="col">
						Select a map<table>
						<tbody class="tbody myScrollBar2">
							<tr ng-repeat="map in maps" ng-class="{'mySelected':map == selectedMap}" ng-click="setSelecetedMap(map)">
							<td>{{map}}</td>
							</tr>
						</tbody>
						</table>
					</div>
					
					<div class="col">
						<p>
						<button id="loadMapButtonID" type="button" class="btn btn-primary btn-sm">Load a map</button>
						</p>
						Loaded map: {{loadedMap}}
					</div>

					</div>
					
					<!--
					<div class="row">
					<p>
					<button id="plotButtonID" type="button" class="btn btn-primary btn-sm btn-block">Plot</button>
					</p>
					</div>
					-->
					
					<!-- list of stats -->
						<BR>
					<div class="row">
						<div class="col">
						Select an x and y stat
						</div>
					</div>
					<div class="row">
						<div class="col">
							<table>
								<thead>
								<tr>
								<th>X</th>
								</tr>
								</thead>
							<tbody class="tbody myScrollBar">
								<tr ng-repeat="stat in statList">
									<td>{{$index}}</td>
									<td ng-class="{'mySelected':stat == xStatSelection}" ng-click="setSelectedStat('x', stat)">{{stat}}</td>
								</tr>
							</tbody>
							</table>
						</div>
						<div class="col">
							<table>
								<thead>
								<tr>
								<th>Y</th>
								</tr>
								</thead>
							<tbody class="tbody myScrollBar">
								<tr ng-repeat="stat in statList">
									<td>{{$index}}</td>
									<td ng-class="{'mySelected':stat == yStatSelection}" ng-click="setSelectedStat('y', stat)">{{stat}}</td>
								</tr>
							</tbody>
							</table>
						</div>
					</div>

					<!-- list of sessions -->
					<div class="row">
					<div class="col">
						Select a session
							<table>
							<tbody class="tbody myScrollBar">
								<tr ng-repeat="session in sessions" ng-class="{'mySelected':$index == selectedSession}" ng-click="setSelectedSession($index)">
									<td>{{$index}} </td>
									<td>{{session}} </td>
								</tr>
							</tbody>
							</table>
					</div>
					<div class="col">
						Select a map segment
							<table>
							<tbody class="tbody myScrollBar">
								<tr ng-repeat="segment in mapsegments" ng-class="{'mySelected':$index == selectedMapSegment}" ng-click="setSelectedMapSegment($index)">
									<td>{{segment}} </td>
								</tr>
							</tbody>
							</table>
					</div>
					</div>
					
				</div>
			</div>
		</div>

		<div class="col-7">
			<div class="card">
				<div class="card-block" style="padding: 1em">
					<div class="row">
					<div id="scatterPlot" style="width: 595px; height: 595px"></div>
					</div>

					<div class="row">
						<div class="col">
						<label>Marker size <input type="range" min="1" max="20" value="5" class="slider" id="dotSize"></label>

						<input type="checkbox" id="showPlotLinesID" ng-model="showPlotLines" ng-change="userTogglePlotLines()" ng-checked="showPlotLines">
						<label for="showTracingID">Plot Lines</label>
						</div>
					</div>

					<div class="row">
					<div class="col">
					<div ng-if="userClickSessionIndex>=0">
					Clicked on time-point: {{userClickSessionIndex}}, stack index {{userClickStackIndex}}, map segment {{userClickMapSegment}}
					</div>
					<div ng-if="!userClickSessionIndex">
					&nbsp;
					</div>
					</div>
					</div>
				</div>
			</div>
		</div>

	</div> <!-- row -->

	<BR>
	<div class="row">
		<div class="myIndentDiv">
		<button id="showStackButtonID" type="button" class="btn btn-primary btn-sm" ng-click="loadStackDataButton()">Load Stack Data</button>
		</div>		
		<!--
		<div class="col-sm-1">
		<button id="showStackButtonID" type="button" class="btn btn-primary btn-sm" ng-click="plotRunButton()">Plot Run</button>
		</div>
		-->
		
		<div class="myIndentDiv">
		<input type="checkbox" id="showAnnotationsID" ng-model="showAnnotations" ng-change="userToggleAnnotations()" ng-checked="showAnnotations">
		<label for="showAnnotationsID">Annotations </label>
		</div>		

		<div class="myIndentDiv">
		<input type="checkbox" id="showTracingID" ng-model="showTracing" ng-change="userToggleTracing()" ng-checked="showTracing">
		<label for="showTracingID">Tracing </label>
		</div>		

		<div class="myIndentDiv">
		<input type="checkbox" id="showMaxProjectID" ng-model="showMaxProject" ng-change="userToggleMaxProject()" ng-checked="showMaxProject">
		<label for="showMaxProjectID">Max Project </label>
		</div>		

		<div class="myIndentDiv">
		<input type="checkbox" id="linkTimepointsID" ng-model="linkTimepoints" ng-change="userToggleLinkTimepoints()" ng-checked="linkTimepoints">
		<label for="linkTimepointsID"><i class="fa fa-link" aria-hidden="true"></i></label>
		</div>		

		<div class="myIndentDiv">
		<input type="checkbox" id="showImageControlsID" ng-model="showImageControls" ng-change="userToggleshowImageControls()" ng-checked="showImageControls">
		<label for="showImageControlsID">Image controls</label>
		</div>		
		
		<div class="myIndentDiv">
		<label for="imageBrightnessID">Brightness</i></label>
		<input type="range" id="imageBrightnessID" min="1" max="200" ng-model="imageBrightness">
		</div>		

		<div class="myIndentDiv">
		<button id="resetTimepointsButtonID" type="button" class="btn btn-primary btn-sm" ng-click="resetTimepoints()">Reset Images</button>
		</div>		

	</div>

<!-- this almost work, allowing a drop down with check boxes
	<div class="row">

	<div ng-dropdown-multiselect="" options="example2data" selected-model="example2model" extra-settings="example2settings"></div>

	</div>
-->
<!--
<select multiselectDropdown >
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
</select>
-->
    <!-- Single button -->
<!--
    <div class="btn-group" uib-dropdown is-open="status.isopen">
      <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        Button dropdown <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem"><a href="#">Action</a></li>
        <li role="menuitem"><a href="#">Another action</a></li>
        <li role="menuitem"><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li role="menuitem"><a href="#">Separated link</a></li>
      </ul>
    </div>
-->
	
	<div class="row">
		<!-- these were working fine but are provided inside leaflet map
		<button id="plusSliceButtonID" type="button" class="btn btn-primary btn-sm" ng-click="setslicebutton(0, 1)" ng-disabled="showMaxProject"><span class="star">&darr;</span></button>
		<button id="minusSliceButtonID" type="button" class="btn btn-primary btn-sm" ng-click="setslicebutton(0, -1)" ng-disabled="showMaxProject"><span class="star">&uarr;</span></button>
		<BR>
		-->
		
		<!--
		<input id="spineNumberID" type="number" ng-model="example.value" ng-change="userSpineSelection(0)">
		<label for="spineNumberID">Spine Index</label>		
		-->

		<!-- these were working fine but are provided inside leaflet map
		<button id="plusSliceButtonID" type="button" class="btn btn-primary btn-sm" ng-click="setslicebutton(1, 1)" ng-disabled="showMaxProject"><span class="star">&darr;</span></button>
		<button id="minusSliceButtonID" type="button" class="btn btn-primary btn-sm" ng-click="setslicebutton(1,-1)" ng-disabled="showMaxProject"><span class="star">&uarr;</span></button>
		-->
		
		
		<!--
		<input id="spineNumberID" type="number" ng-model="example.value" ng-change="userSpineSelection(1)">
		<label for="spineNumberID">Spine Index</label>		
		-->

		<div class="myIndentDiv">
		<div id="myLeafletID0" style="width: 512px; height: 512px;"></div>
		</div>
		
		<div class="myIndentDiv">
		<div id="myLeafletID1" style="width: 512px; height: 512px;"></div>
		</div>
		
		<div class="myIndentDiv">
		<div id="myLeafletID2" style="width: 512px; height: 512px;"></div>
		</div>
		
		<div id="myLeafletID3" style="width: 512px; height: 512px;"></div>
		<div id="myLeafletID4" style="width: 512px; height: 512px;"></div>
		<div id="myLeafletID5" style="width: 512px; height: 512px;"></div>
		
	</div> <!-- row -->
	
</div> <!-- ng-controller="mmserver_controller" -->
{% endraw %}
</body>
</html>