#numpy>=1.13.0
#pandas>=0.22.0"
#requests>=2.18.4"

#scipy>=1.0.0"

# used by mmserver.py to load .png
scikit-image>=0.13.1

#in tiangolo/uwsgi-nginx-flask:python3.6
Flask>=0.12.2

Flask-Cors>=3.0.3

#in tiangolo/uwsgi-nginx-flask:python3.6
#uWSGI>=2.0.15

redis>=2.10.6

# not used
gunicorn

# put back in
#jupyter
