<!doctype html>
<html ng-app="mmclient_app">
<head>

    <!-- added tether for bootstrap -->
    <!-- <link rel="stylesheet" href="static/lib/tether-1.3.3/dist/css/tether.css"> -->

    <link rel="stylesheet" href="static/lib/bootstrap-4.0.0-beta.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/lib/font-awesome-4.7.0/css/font-awesome.min.css">
   
    <link rel="stylesheet" href="static/mmclient.css">

	<script src="static/lib/angular/angular.min.js"></script>

	<!--
	<script src="static/lib/angular/angular-animate.min.js"></script>
	<script src="static/lib/angular/ui-bootstrap-tpls-0.14.3.js"></script>
	-->

	<script src='static/lib/d3/d3.min.js'></script>
	<!-- <script src='lib/lodash.js'></script> -->
	<script src="static/lib/plotly/plotly-latest.min.js"></script>

    <!-- added (jquery, tether) for bootstrap -->
	<script src='static/lib/jquery/jquery-3.2.1.min.js'></script>
	<!-- <script src="static/lib/tether-1.3.3/dist/js/tether.min.js"></script> -->
	<script src="static/lib/popper-1.12.3/popper.js"></script>
	<script src="static/lib/bootstrap-4.0.0-beta.2-dist/js/bootstrap.min.js"></script>

	<!-- leaflet -->
    <link rel="stylesheet" href="static/lib/leaflet/leaflet.css">
    <script src="static/lib/leaflet/leaflet.js"></script>
	<!-- leaflet easy button -->
    <link rel="stylesheet" href="static/lib/leaflet/easy-button.css">
    <script src="static/lib/leaflet/easy-button.js"></script>
	<!-- leftlet full screen -->
 	<link rel="stylesheet" href="static/lib/leaflet/fullscreen/Control.FullScreen.css" />
 	<script src="static/lib/leaflet/fullscreen/Control.FullScreen.js"></script>
 
	<script src='static/mmclient.js'></script>

	<!-- <script type="text/javascript" src="static/lib/angularjs-dropdown-multiselect.min.js"></script> -->

</head>


<!-- <body ng-cloak> -->
<!-- {% raw %} -->

<div ng-controller="mmclient_controller" ng-init="load()">

	<div class="row">

		<div class="myIndentDiv2">
		<font class="myInverseColor" style="font-size:1.6em;">
		Explore Map Manager Time-Series Annotations and Images
		</font>
		</div>
		
<!--		<button type="button" class="btn btn-default btn-sm myButtonBackground" style="float:right"> <i class="fa fa-hdd-o fa-2x" aria-hidden="true"></i></button> -->
		<div class="myIndentDiv2">
		<A HREF="download" class="myButtonBackground"> <i class="fa fa-cloud-download fa-2x" aria-hidden="true"></i> </A>
		</div>
		
		<div class="myIndentDiv2">
		<A HREF="upload" class="myButtonBackground"> <i class="fa fa-cloud-upload fa-2x" aria-hidden="true"></i> </A>
		</div>

		<div class="myIndentDiv2" style="float:right">
		<A HREF="http://blog.cudmore.io/PyMapManager/web-help"> <i class="fa fa-question fa-2x" aria-hidden="true"></i> </A>
		</div>

<!--		<button type="button" class="btn btn-default btn-sm myButtonBackground" data-toggle="dropdown" style="float:right"> <i class="fa fa-question fa-2x" aria-hidden="true"></i></button> -->
<!--		<div class="mypopup"> -->
<!--		<ul class="dropdown-menu" style="z-index:9999">-->
<!--		<li class="myIndentDiv2"><A HREF="http://blog.cudmore.io/PyMapManager" target="_blank">PyMapManager Documentation</A></li> -->
<!--		<li class="myIndentDiv2">Designed and implemented by <A HREF="http://www.robertcudmore.org" target="_blank">Robert Cudmore</A></li> -->
<!--		</ul> -->
<!--		</div> -->

	</div>
				
	<div class="row">
		<div class="col-4">
			<div class="card">
				<div class="card-block" style="padding: 1em">

					<!-- user -->
					<!--
					<div class="row">
					<div class="col">
					Username: public
					</div>
					</div>
					-->
					
					<!-- list of maps -->
					<div class="row">
										
					<div class="col">
						<table>
							<thead>
							<tr>
							<th>Time-series</th>
							</tr>
							</thead>
						<tbody class="tbody myScrollBar2">
							<tr ng-repeat="map in maps" ng-class="{'mySelected':map == selectedMap}" ng-click="setSelecetedMap(map)">
							<td>{{map}}</td>
							</tr>
						</tbody>
						</table>
					</div>
					
					<div class="col">
						<p>
						<button id="loadMapButtonID" type="button" class="btn btn-primary btn-sm">Load time-series</button>
						</p>

						<p ng-show="! loading">
						Loaded: {{loadedMap}}<BR>
						Annotations: {{mapInfo.numAnnotations}}
						</p>

<!-- <div class="spinner" ng-show="loading"></div> -->
<div id="circularG" ng-show="loading">
	<div id="circularG_1" class="circularG"></div>
	<div id="circularG_2" class="circularG"></div>
	<div id="circularG_3" class="circularG"></div>
	<div id="circularG_4" class="circularG"></div>
	<div id="circularG_5" class="circularG"></div>
	<div id="circularG_6" class="circularG"></div>
	<div id="circularG_7" class="circularG"></div>
	<div id="circularG_8" class="circularG"></div>
</div>

					</div>

					</div>
					
					<!--
					<div class="row">
					<p>
					<button id="plotButtonID" type="button" class="btn btn-primary btn-sm btn-block">Plot</button>
					</p>
					</div>
					-->
					
					<!-- list of stats -->
					<BR>
					<div class="row">
						<div class="col">
							<table>
								<thead>
								<tr>
								<th>X</th>
								</tr>
								</thead>
							<tbody class="tbody myScrollBar">
								<tr ng-repeat="stat in statList">
									<td>{{$index}}</td>
									<td ng-class="{'mySelected':stat == xStatSelection}" ng-click="setSelectedStat('x', stat)">{{stat}}</td>
								</tr>
							</tbody>
							</table>
						</div>
						<div class="col">
							<table>
								<thead>
								<tr>
								<th>Y</th>
								</tr>
								</thead>
							<tbody class="tbody myScrollBar">
								<tr ng-repeat="stat in statList">
									<td>{{$index}}</td>
									<td ng-class="{'mySelected':stat == yStatSelection}" ng-click="setSelectedStat('y', stat)">{{stat}}</td>
								</tr>
							</tbody>
							</table>
						</div>
					</div>

					<!-- list of sessions -->
					<BR>
					<div class="row">
					<div class="col">
							<table>
								<thead>
								<tr>
								<th>X Time-point</th>
								</tr>
								</thead>
							<tbody class="tbody myScrollBar">
								<tr ng-repeat="session in sessions" ng-class="{'mySelected':$index == xSelectedSession}" ng-click="setSelectedSession('x', $index)">
									<td>{{$index}} </td>
									<td>{{session}} </td>
								</tr>
							</tbody>
							</table>
					</div>
					<div class="col">
							<table>
								<thead>
								<tr>
								<th>Y Time-point</th>
								</tr>
								</thead>
							<tbody class="tbody myScrollBar">
								<tr ng-repeat="session in sessions" ng-class="{'mySelected':$index == ySelectedSession}" ng-click="setSelectedSession('y', $index)">
									<td>{{$index}} </td>
									<td>{{session}} </td>
								</tr>
							</tbody>
							</table>
					</div>
					</div>
					
					<!-- list of map segments -->
					<BR>
					<div class="row">
					<div class="col">
							<table>
								<thead>
								<tr>
								<th>Map segment</th>
								</tr>
								</thead>
							<tbody class="tbody myScrollBar">
								<tr ng-repeat="segment in mapsegments" ng-class="{'mySelected':$index == selectedMapSegment}" ng-click="setSelectedMapSegment($index)">
									<td>{{segment}} </td>
								</tr>
							</tbody>
							</table>
					</div>
					</div>
					
				</div> <!-- card block -->
			</div> <!-- card -->
		</div> <!-- col-4 -->
		
		<div class="col-8">
			<div class="card" style="width: 620px;">
				<div class="card-block" style="padding: 1em">
					
					<!-- plotly scatter -->
					<div class="row">
					<div id="scatterPlot" style="width: 600px; height: 600px"></div>
					</div>

				</div>
			</div>

			<div class="card" style="width: 620px;">
				<div class="card-block" style="padding: 1em">
			
					<!-- first row of plot control -->
					<div class="row mySmallFont">
						<div class="col">
						<div class="myIndentDiv3">
						<label>Marker size <input type="range" min="1" max="20" value="5" class="slider" id="dotSize"></label>
						</div>
						</div>
						
						<div class="col">
						<div class="myIndentDiv3">
						<!-- <input type="checkbox" id="showPlotLinesID" ng-model="showPlotLines" ng-change="userTogglePlotLines()" ng-checked="showPlotLines"> -->
						<input type="checkbox" id="showPlotLinesID" ng-model="showPlotLines" ng-change="toggleInterface('showPlotLines')" ng-checked="showPlotLines">
						<label for="showTracingID">Lines</label>
						</div>
						</div>

						<div class="col">
						<div class="myIndentDiv3">
						<input type="checkbox" id="showBadID" ng-model="showBad" ng-change="toggleInterface('showBad')" ng-checked="showBad">
						<label for="showBadID">Show Bad</label>
						</div>
						</div>

						<div class="col">
						<div class="myIndentDiv3">
						<input type="checkbox" id="showHistogramxID" ng-model="showHistogramx" ng-change="toggleInterface('showHistogramx')" ng-checked="showHistogramx">
						<label for="showHistogramxID">X-Histograms</label>
						</div>
						</div>

						<div class="col">
						<div class="myIndentDiv3">
						<input type="checkbox" id="showHistogramyID" ng-model="showHistogramy" ng-change="toggleInterface('showHistogramy')" ng-checked="showHistogramy">
						<label for="showHistogramyID">Y-Histograms</label>
						</div>
						</div>
					</div>

					<!-- second row of plot control -->
					<div class="row mySmallFont">
						<div class="col">
						<div class="myIndentDiv3">
						<font>Marker Color</font>
						<select ng-change="toggleInterface('markerColor')" ng-model="selectedMarkerColor" ng-options="markerColor for markerColor in markerColorList"></select>
						</div>		
						</div>
						
						<div class="col">
						<div class="myIndentDiv3">
						<font>Plot Mask</font>
						<select ng-change="toggleInterface('plotMask')" ng-model="selectedPlotMask" ng-options="plotMask for plotMask in plotMaskList"></select>
						</div>		
						</div>
					</div>
					
					<div class="row mySmallFont">
					<div class="col">
					<div class="myIndentDiv" ng-if="userClickSessionIndex">
					Clicked on time-point: {{userClickSessionIndex}}, stack index {{userClickStackIndex}}
					<!-- , map segment {{userClickMapSegment}} -->
					</div>
<!--
					<div ng-if="!userClickSessionIndex">
					&nbsp;
					</div>
-->
					</div>
					</div>
				</div>
			</div>
		</div>

	</div> <!-- row -->
	
	<BR>


	<div class="row">
	<button type="button" class="btn btn-default btn-sm myButtonBackground" ng-click="showRawImagesCallback()">
	<i ng-if="showRawImages" class="fa fa-chevron-down"></i>
	<i ng-if="!showRawImages" class="fa fa-chevron-right"></i>
	Images
	</button>
	</div>
	
	<div class="row" ng-show="showRawImages">

		<div class="myIndentDiv2" >
			<!-- see https://codepen.io/bseth99/pen/fboKH -->
			<!-- <button type="button" class="btn btn-default btn-sm dropdown-toggle myButtonBackground" data-toggle="dropdown"></span> <i class="fa fa-cog fa-2x" aria-hidden="true"></i></button> -->
			<!--  &#9662; is down arrow -->
			<button type="button" class="btn btn-default btn-sm myButtonBackground" data-toggle="dropdown"><i class="fa fa-cog fa-lg" aria-hidden="true"></i></button>
			<table class="dropdown-menu">
			<tr>
			<td  class="myIndentDiv2">
				<div  class="myIndentDiv2">
				
				<input type="checkbox" id="showAnnotationsID" ng-model="showAnnotations" ng-change="userToggleAnnotations()" ng-checked="showAnnotations">
				<label for="showAnnotationsID">Annotations </label>

				<BR>
				<input type="checkbox" id="showTracingID" ng-model="showTracing" ng-change="userToggleTracing()" ng-checked="showTracing">
				<label for="showTracingID">Tracing </label>

				<BR>
				<input type="checkbox" id="showTimepointNumberID" ng-model="showTimepointNumber" ng-change="userToggleTimepointNumber()" ng-checked="showTimepointNumber">
				<label for="showTimepointNumberID">Time-point Numbers  </label>

				<BR>
				<input type="checkbox" id="showMaxProjectID" ng-model="showMaxProject" ng-change="userToggleMaxProject()" ng-checked="showMaxProject">
				<label for="showMaxProjectID">Max Project </label>

				<BR>
				<input type="checkbox" id="showImageControlsID" ng-model="showImageControls" ng-change="userToggleshowImageControls()" ng-checked="showImageControls">
				<label for="showImageControlsID">Image controls</label>

				<BR>
				<input type="number" id="leafletMarkerSizeID" min="0" max="20" ng-init="leafletMarkerSize" ng-model="leafletMarkerSize" ng-change="setLeafletMarkerSize()">
				<label for="leafletMarkerSizeID">Marker Size</label>

				<BR>
				<input type="number" min="0" max="20" ng-init="leafletZoom" id="leafletZoomID" ng-model="leafletZoom">
				<label for="leafletZoomID">Default Zoom</label>

				<BR>
				<button id="resetTimepointsButtonID" type="button" class="btn btn-primary btn-sm" ng-click="resetTimepoints()">Refresh Annotations</button>
				</div>
			</td>
			<td>
				<div  class="myIndentDiv2">
				Time-points
				<ul class="list-unstyled">
				  <li ng-repeat="timepoint in showTimepoints track by $index" style="z-index: 9999;">
				    <!-- {{$index}} {{timepoint}} -->
					<input type="checkbox" id="{{'tp' + $index}}" ng-model="timepoint" ng-change="userToggleTimepoints($index, timepoint)" ng-checked="timepoint">
					<label for="{{'tp' + $index}}">{{$index}}</label>
				  </li>
				</ul>
				</div>
			</td>
			</tr>
			</table>
		</div>
		<!-- -->
		
		<div class="myIndentDiv2">
		<input type="checkbox" id="linkTimepointsID" ng-model="linkTimepoints" ng-change="userToggleLinkTimepoints()" ng-checked="linkTimepoints">
		<label for="linkTimepointsID"><i class="fa fa-link fa-lg myButtonBackground" aria-hidden="true"></i></label>
		</div>		
		
		<div class="myIndentDiv2">
		<input type="checkbox" id="showSlidingZID" ng-model="showSlidingZ" ng-change="userToggleShowSlidingZ()" ng-checked="showSlidingZ">
		<label class="myInverseColor" for="showSlidingZID">Sliding Z</label>
		</div>		
		
		<div class="myIndentDiv2">
		<label for="imageBrightnessID"><i class="fa fa-sun-o fa-lg myButtonBackground" aria-hidden="true"></i></label>
		<input type="range" id="imageBrightnessID" min="1" max="200" ng-model="imageBrightness">
		</div>		

		<div class="myIndentDiv2">
		<font class="myInverseColor">Channel</font>
		<select ng-change="setLeafletChannel()" ng-model="leafletChannel" ng-options="channel for channel in channelList"></select>
		</div>		

		<div class="myInverseColor">
			<div class="myIndentDiv2">
				User:{{leafletUser}} Map:{{leafletMap}} {{(leafletSelectedTP != null) ? leafletSelectedTP : ''}} {{(leafletSelectedStackIndex != null) ? leafletSelectedStackIndex : ''}}
			</div>
		</div>
		<!--
		<div class="myIndentDiv2">
			<button type="button" class="btn btn-default btn-sm" data-toggle="dropdown" style="z-index: 999;">Time-points</button>
			<ul class="dropdown-menu" style="z-index: 999;">
			  <li ng-repeat="timepoint in showTimepoints track by $index" style="z-index: 999;">
				<input type="checkbox" id="{{'tp' + $index}}" ng-model="timepoint" ng-change="userToggleTimepoints($index, timepoint)" ng-checked="timepoint">
				<label for="{{'tp' + $index}}">{{$index}}</label>
			  </li>
			</ul>
		</div>
		-->
		
	</div> <!-- row -->
	
	<div ng-show="showRawImages" class="row">
			
		<div class="myIndentDiv">
			<div ng-show="showTimepoints[0]" id="myLeafletID0" class="myLeafletDiv" style="width: 512px; height: 512px;">
				<div class="tpIntentDiv">
				<div ng-if="showTimepointNumber" class="tpPosition">
				0
				</div>
				</div>
			</div>
		</div>
		
		<div class="myIndentDiv">
			<div ng-show="showTimepoints[1]" id="myLeafletID1" class="myLeafletDiv" style="width: 512px; height: 512px;">
				<div class="tpIntentDiv">
				<div ng-if="showTimepointNumber" class="tpPosition">
				1
				</div>
				</div>
			</div>
		</div>
		
		<div class="myIndentDiv">
			<div ng-show="showTimepoints[2]" id="myLeafletID2" class="myLeafletDiv" style="width: 512px; height: 512px;">
				<div class="tpIntentDiv">
				<div ng-if="showTimepointNumber" class="tpPosition">
				2
				</div>
				</div>
			</div>
		</div>
		
		<div class="myIndentDiv">
			<div ng-show="showTimepoints[3]" id="myLeafletID3" class="myLeafletDiv" style="width: 512px; height: 512px;">
				<div class="tpIntentDiv">
				<div ng-if="showTimepointNumber" class="tpPosition">
				3
				</div>
				</div>
			</div>
		</div>
		
		<div class="myIndentDiv">
			<div ng-show="showTimepoints[4]" id="myLeafletID4" class="myLeafletDiv" style="width: 512px; height: 512px;">
				<div class="tpIntentDiv">
				<div ng-if="showTimepointNumber" class="tpPosition">
				4
				</div>
				</div>
			</div>
		</div>
		
		<div class="myIndentDiv">
			<div ng-show="showTimepoints[5]" id="myLeafletID5" class="myLeafletDiv" style="width: 512px; height: 512px;">
				<div class="tpIntentDiv">
				<div ng-if="showTimepointNumber" class="tpPosition">
				5
				</div>
				</div>
			</div>
		</div>
	</div> <!-- row -->


</div> <!-- ng-controller="mmclient_controller" -->

<!-- {% endraw %} -->
</body>
</html>