body{
  background-color: #bdc3c7;
  margin:1em;padding:1em;
}

.mySelected {
    background-color:black;
    color:white;
    font-weight:bold;
}

.myScrollBar {
  display: block;
  height:204px;
  overflow-y: scroll;
  font-size: 14px;
}

.myScrollBar2 {
  display: block;
  height:96px;
  overflow-y: scroll;
  font-size: 14px;
}

// for additional leaflet buttons (up/down slices)
.star{
  font-size: 1.5em;
} 

/*
thead, tbody { display: block; }

tbody {
    height: 200px;       
    overflow-y: auto;    
    overflow-x: hidden;  
}
*/