html {
  font-size: 1em;
}

html {
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}

span.mysmall {
    font-size: .8em;
}

.myTable {
    //font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 75%;
    //table-layout: fixed;
}

.myTable td {
    border: 0px solid #ddd;
    padding: 12px;
    //width: 30%;
}

.myTable td:nth-child(1){ width:100px; }
.myTable td:nth-child(2){ width:100px; }
//.myTable td:nth-child(3){ width:100px; }
//.myTable td:nth-child(4){ width:100px; }


table.myTable-small{
    font-size: 12px;
    border-collapse: collapse;
}

table.myTable-small tr:nth-child(even) {background-color: #f2f2f2;}

.highlight {
  background-color: #aaaaaa;
}